body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

ul {
}

a {
  color: inherit;
  text-decoration: none;
}

.index {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/resources/memo2.jpg');
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.index .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1000px;
  min-height: 450px;

  color: white;
  font-family: 'Otomanopee One';
  font-size: 4vw;
  margin-left: 0.1em;
  letter-spacing: 0.1em;

  margin-left: auto;
  margin-right: auto;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Otomanopee One';
}

.content .container {
  width: 90vw;
  height: 100%;
  max-width: 1000px;
  min-height: 450px;

  /* border: 1px solid red; */
  margin-left: auto;
  margin-right: auto;

  font-family: 'Otomanopee One';

  margin-left: auto;
  margin-right: auto;
}

.content .container article {
  font-family: 'Nanum Gothic Coding';
  font-size: 16px;
  line-height: 1.7em;
  overflow-x: scroll;
}

#title-header:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
}
